body {
  background-color: #d9f0e3;
}

#main-body {
  padding-top: 150px;
  /* overflow-y: scroll; */
  /* height: 100%; */
}

#coming-soon {
  background-color: #000;
  align-items: center;
  text-align: center;
}

#coming-text {
  color: #fff;
}

#expect {
  color: #ccc;
  font-style: oblique;
}

#coming-button {
    background-color: #2980b9;
    color: #fff;
    width: 75%;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #558b2f;
    cursor: pointer;
    transition: all 0.3s ease-in;
    border-radius: 15px;
}

#coming-buttton:hover {
    background-color: #6ab5e7;
    color: rgb(51, 50, 50);
    transition: ease-out;
}
