{% extends "home.html" %}
{% block title %}Wo'tosuga - Dev{% endblock %}

{% block page_header %}
<div class="home-header">
    <h1 class="page-header">Dev</h1>
</div>
{% endblock %}

{% block content %}
<div class="bio">
    <p id="name">Ebenezer Maradesa</p>
    <p id="about">
        Data Scientist || Software Engineer || Health Tech || Genomics || Medic
    </p>
</div>
<div class="links">
    <p>Let's Meet</p>
    <ul>
        <li><a href="https://github.com/maradeben">GitHub - maradeben</a></li>
        <li><a href="https://linkedin.com/in/ebenezer-maradesa">LinkedIn - EBENEZER MARADESA</a></li>
        <li><a href="https://x.com/maradeben">X - @maradeben</a></li>
        <li><a href="https://medium.com/@maradeben">Medium - @maradeben</a></li>
    </ul>
</div>
<div class="project-link">
    <a href="https://github.com/maradeben/wotosuga">Wotosuga GitHub</a>
</div>
{% endblock %}
